<%- include("partials/header"); -%>
    <h1>About Us</h1>

    

    <img src=https://th.bing.com/th/id/OIP.2TVEGT7ASbnmpGud5QfAfgHaE8?w=269&h=180&c=7&o=5&pid=1.7 alt="image not found" height="300px" width=100%/>
    <h2>Education is the most powerful weapon which one can use to change the world.</h2>
    <h3>OUR MISSION:</h3> 
    <p>Welfare Society is established with the sole aim of giving a fair chance to bring out the hidden
         potential because of its strong belief that Every individual is special in himself, some get the chance to explore
          and some donot. Our main purpose is to analyze the financial and non-financial limitations that restricts the
           educational improvement or development of any needy individual and thus support him/her. 
           There are certain reason that restricts the educational improvement of any needy or interested individual,
         so we took an initiative to identify those restrictions and support them for upliftment of the society.
    </p>

    <h3>OUR VISION :</h3>
    <p>India is a nation of a billion dreams, a billion aspirants and above all great opportunities. 
        To turn these dreams into reality, especially for the vulnerable sections of society, Endeavour Educational Welfare 
        Society has taken the path of inclusive development to address their educational needs. To work for the educational 
        improvement or development of needy sections of the society.
         We try to educate those people who are financially weak because everyone has the right to get educated.
    </p>
        
    <h4>MEMBERSHIP:</h4>   
    <p>Anybody who is interested to contribute, support and want to be a part of the genuine efforts for
         the above mentioned purpose or willing to be associated with the society for a noble cause is supposed to
          fill the membership form of the society and duly submit it with a donation amount of Rs. 500/- 
          (Rupees Five Hundred Only) against a receipt of donation given to the society.
    </p>
        
        
<%- include("partials/footer"); -%>
