<%- include("partials/header"); -%>
    <h1>Events</h1>
    <h2>SEMINAR CUM WORKSHOP CONDUCTED FOR WOMEN</h2>
    <p>Madam Disha Singh who is an expert language trainer and Personality Developer has a good command over English and trains people on Group Discussion, Personal Interview and Public Speaking. She has an experience of over 10 years. She has a versatile personality with multi talents and is always actful towards doing something new and innovative for the growth and development of people and their personalities.</p>

    <p>This seminar cum workshop was organized for the betterment and development of the women of the society focuses over the growth and up-liftment of the weaker and dominated section of the society. Along with the Women members of the Suruchi Club all the participants who were representing various age groups learnt&understoodthe use of English from various aspects while reading, writing & speaking in our day to day life...</p>
        
    <p>This 3 days seminar cum workshop was a two way exercise which left a very good impression of perfect communication which the participants would remember throughout their life.</p>
<%- include("partials/footer"); -%>
