<%- include('partials/header') %>

<h1>HOME</h1>
<div class="span_class">
<span style="height: 69px; font-size: 17pt"  >
  <b>
     <br/>
     <q> No Child should be left behind.<br />Every Child is Special in Himself.<br />Some
      get the chance to explore &amp; some donate
    </q>
</b>
</span>
</div>
<%- include('partials/footer') %>
