html {
  min-height: 100%;
  position: relative;
}
h1{
  color: #1abc9c ;
  text-align: center;
}
h2{
  color:cadetblue ;
  text-align:justify;
}
.span_class{
  text-align :center;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    
}
.navbar-brand{
font-size:16px;
letter-spacing: 3px;
}

.navbar-nav  li a:hover {
    color:#1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
button{
  margin-left:45%;
}